<template name="dayPhase">
  {{> playerHeader}}
  <h4>
    {{_ "ui.dayPhaseHeader" }}
  </h4>
  
  {{#if isModerator}}
  {{ soundMessage "dayInstructions"}}
  {{/if}}

  {{_ "ui.suspicionScoreLabel" }}: {{suspicionScoreCount}}<br/>
Voting for you: {{votingForThisPlayer player._id}}

  {{> gameLog}}
  <hr>
  {{#if isAlive}}
    {{> Template.dynamic template=whichView}}
    {{> playerVote}}
    {{else}}
    You are dead/locked up
  {{/if}}
  {{#if isModerator}}
  <div class="button-container">
    <button class="btn-end">{{_ "ui.end game" }}</button>
    <!-- <button class="btn-leave">{{_ "ui.leave game" }}</button> -->
  </div>
  {{/if}}
</template>
