<template name="telepathPhase">
  <h4>
    It is night...
  </h4>
  {{ playerRole }}
  <div class="">
    <!--<input type="text" id="player-name" name="playerName" placeholder='{{_ "ui.enter your name" }}'>-->
    <h5>{{_ "ui.players" }}</h5>
    <ul class="ingame-player-list">
      {{#each players }}
        {{#if isAlive}}
          <li>
            <div class="player-name">
              <input type="hidden" name="player-id" value="{{_id}}"><input type="radio" name="player">  {{ name }}
            </div>
          </li>
        {{/if}}
      {{/each}}
    </ul>
    <div class="button-container">
      <button class="btn-player-ready">{{_ "ui.playerReady" }}</button>
    </div>
  </div>

</template>
